[package]
name = "birdcage"
version = "0.3.1"
description = "Cross-platform embeddable sandbox"
authors = ["Phylum, Inc. <engineering@phylum.io>"]
repository = "https://github.com/phylum-dev/birdcage"
documentation = "https://docs.rs/birdcage"
rust-version = "1.63.0"
license = "GPL-3.0-or-later"
edition = "2021"

[target.'cfg(target_os = "linux")'.dependencies]
seccompiler = "0.2.0"
landlock = "0.2.0"
libc = "0.2.132"

[dev-dependencies]
clap = { version = "4.4.2", features = ["derive"] }
tempfile = "3.3.0"
